<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/fragrant-pond-a6dd/">
  <img alt="Blog Logo" src="/fragrant-pond-a6dd/assets/logo.webp" width="75" height="50" />
</a>
